.HomePageMain {
  position: static;
  min-height: 100vh;

  padding: 0vh 0vw 2vh 0vw;
  margin: 0;

  background: url("../assets/happy_win.png") #3c8d89;
  background-size: auto;
  background-position: center top;
  background-blend-mode: overlay;
  text-align: center;
}

.HomePageTitle {
  /*
  border-radius: 25px;
  border: 5px solid var(--light-blue);
  */
  background: #1f28337c;
  margin: 10vh 0vw 0vh 0vw;
  padding: 2vh 0vw;
  color: var(--light-grey);
}

.HomeSearchBar {
  padding: 10vh 12vw 0vh 12vw;
  text-align: center;
}

.HomeSearchBar .input-group-prepend {
  background: var(--dark-dark);
}

.SearchBar {
  height: 8vh;
  font-size: 5vh;
}

.HomeSearchResults {
  margin: 2vh 12vw 0vh 12vw;
  background: rgba(255, 255, 255, 0);
}

.HomePageStats {
  margin: 0%;
}

.BrandHeader {
  font-size: 4vh;
  color: #D1E8E2;
}

.Header {
  color: #D1E8E2;
  font-size: large;
  padding: 1vh 5vw 1vh 5vw;
  margin: 0vh 0vw 0vh 0vw;
}

.Header .navbar-brand {
  color: var(--light-grey);
}

.Header .navbar-brand:hover {
  color: var(--light-grey);
}

.Header .navbar-nav .nav-link {
  color: var(--light-grey);
}

.Header .navbar-nav .nav-link:hover {
  color: var(--dark-blue);
}

footer {
  padding: 5vh 5vw 2vh 5vw;
  text-align: center;
  background: var(--dark-dark);
  color: var(--light-grey);
  box-shadow: 0 50vh 0 50vh var(--dark-dark);
}

footer .content {
  padding: 0vh 0vw 3vh 0vw;
}

footer .legal {
  padding: 1vh 5vw 0vh 5vw;
  font-size: x-small;
  color: var(--light-grey);
}

input[type="text"] {
  font-size: 24px;
}

.ResultsPage {
  position: static;
  height: 100%;

  padding: 0vh 0vw 2vh 0vw;
  margin: 0;

  background-image: linear-gradient(to top, var(--dark-dark), var(--light-dark));
  text-align: center;
}

.ResultsFilters {
  padding: 5vh 0vw 2vh 0vw;
}

.Filters {
  padding: 0vh 1vw 0vh 1vw;
  margin: 0;
  text-align: center;
  color: var(--light-grey);
}

.SearchResults {
  padding: 2vh 0vw 0vh 0vw;
  background: rgba(255, 255, 255, 0);
}

.Card {
  padding: 5px 0px 5px 0px;
  background: rgba(255, 255, 255, 0);
  border :rgba(255, 255, 255, 0);
}

.CardOverlay {
  border :rgba(255, 255, 255, 0);
  width: 18rem;
}