.HomePage {
  /*
  position:fixed;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  */
  padding:10vh 10vw;
  margin:0;

  
  background-color: white;
  text-align: center;
}

.SearchBar {
  padding: 10vh 10vw 0vh 10vw;
  text-align: center;
}

.ResultsPage {
  padding: 5vh 0vw 0vh 0vw;
  text-align: center;
}

.SearchResults {
  /*padding: 2vh 0vw 0vh 0vw;*/
}

.Card {
  /*padding: 5px 10px 0px 10px;*/
}