:root {
  --header-color: black;
}

.bg-header {
  background-color: var(--header-color);
}

.dark {
  color: white;
}

body {
  margin: 0;
}


/* prevent zoom on mobile */
select.form-control,
textarea.form-control,
input.form-control {
  font-size: 1rem;
}
input[type=file] {
  width: 100%;
}
